body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExdDdraHMza3U0ZXJ6ZjRzMXZveXF4bTF3ZTQ1bDI5YXZxbWRnYmVhMCZlcD12MV9pbnRlcm5naWZfYnlfaWQmY3Q9Zw/PQqHL0Zzx5wX3SIPhe/giphy.gif') no-repeat center center/cover;
}

.gif_container {
    display: none; 
}
