body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f0f0f0; /* Light background for the body */
}

.gif_container {
    display: block; /* Show the GIF container */
    position: absolute; /* Position it in the center of the page */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the GIF */
}

.gif_container img {
    width: auto;  /* Ensure the image maintains its aspect ratio */
    max-width: 100%; /* Prevent the image from overflowing the container */
    max-height: 100%; /* Prevent the image from overflowing the container */
}
